#main {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    min-height: 500px;
    padding: 2em;
}

.justify-start {
    justify-content: flex-start;
}


.container-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    transition: all 0.3s ease-in;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    flex-wrap: wrap;
    min-width: 911px;
}

#tags {
    display: flex;
    flex-wrap: wrap;
    margin: 1em;
    flex: 1;
    justify-content: space-between;
}

.item {
    position: relative;
    cursor: pointer;
    height: 142px;
    flex: 1 1 39%;
    padding: 0.5em;
    background: #546e7a;
    color: #fff;
    border: 1px solid #29434e;
    border-radius: 1em;
    align-items: center;
    text-align: center;
    margin: 1em;
    transition: all 0.3s ease-in-out;
}

.item::after {
    content:'';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 1em;
    opacity: 0;
    box-shadow: 0 5px 15px #29434e;
    transition: opacity 0.3s ease-in-out;
}
.item:active::after,
.item:hover::after {
    opacity: 1;
}

.item__header {
    font-size: 1.5em;
    font-weight: 400;
    font-family: 'Sans', Times, serif, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 2em;
}

.item__value {
    font-size: 1em;
    font-weight: 200;
    line-height: 3em;
}

.upper { 
    text-transform: uppercase;
}

input {
    margin: 1em;
    border: none;
    border-bottom: 1px solid #101f27;
    color: black;
    cursor: text;
    margin-left: 2.5em;
}


button {
    width: 10em;
    padding: 0.5em;
    border-radius: 1em;
    border: none;
    background: #29434e;
    color: #fff;
    text-align: center;
    cursor: pointer;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1;
    align-items: stretch;
    justify-content: center;
}

ul > li {
    position: relative;
    margin-left: 1em;
    text-transform: uppercase;
    background: #546e7a;
    color: #fff;
    border-radius: 0.5em;
    padding: 0.4em;
    padding-left: 1.2em;
    cursor: pointer;
    margin-right: 1em;
}



.checkbox {
    display: inline-block;
    width: 10px;
    height: 10px;
    position: absolute;
    top: 0;
    background: #fff;
    left: -24px;
    border: 1px solid #29434e;
}

.container-row-animated {
    background: rgb(225, 226, 225);
    margin-left: 2.2em;
}

svg {
    fill: #29434e;
}

line {
    fill: #29434e;
}

@media screen and (max-width: 938px) {
    .container {
        min-width: auto;
    }
}